/* Global -------------------------------------------------------------------------------------------------------*/
@font-face {
  font-family: 'proxima';
  src: url('ProximaNovaSoft-Regular.eot');
  src: url('ProximaNovaSoft-Regular.eot?#iefix') format('embedded-opentype'), url('ProximaNovaSoft-Regular.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'tui';
  src: url('tuitype-webfont.eot');
  src: url('tuitype-webfont.eot?#iefix') format('embedded-opentype'), url('tuitype-webfont.woff') format('woff'), url('tuitype-webfont.ttf') format('truetype'), url('tuitype-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'icons';
  src: url('icons-webfont.eot');
  src: url('icons-webfont.eot?#iefix') format('embedded-opentype'), url('icons-webfont.woff') format('woff'), url('icons-webfont.ttf') format('truetype'), url('icons-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'icons-symbol';
  src: url('icons.eot');
  src: url('icons.eot?#iefix') format('embedded-opentype'), url('icons.woff') format('woff'), url('icons.ttf') format('truetype'), url('icons.svg#webfont') format('svg');
}
@font-face {
  font-family: 'DroidSans';
  src: url('DroidSans.eot');
  src: url('DroidSans.eot?#iefix') format('embedded-opentype'), url('DroidSans.woff') format('woff'), url('DroidSans.ttf') format('truetype'), url('DroidSans.svg#webfont') format('svg');
}
@font-face {
  font-family: 'Droid Sans Bold';
  src: url('DroidSans-Bold.eot');
  src: url('DroidSans-Bold.eot?#iefix') format('embedded-opentype'), url('DroidSans-Bold.woff') format('woff'), url('DroidSans-Bold.ttf') format('truetype'), url('DroidSans-Bold.svg#webfont') format('svg');
}
@font-face {
  font-family: 'icons-v2';
  src: url('icons-v2/fonts/icons.eot?55kzd9');
  src: url('icons-v2/fonts/icons.eot?55kzd9#iefix') format('embedded-opentype'), url('icons-v2/fonts/icons.ttf?55kzd9') format('truetype'), url('icons-v2/fonts/icons.woff?55kzd9') format('woff'), url('icons-v2/fonts/icons.svg?55kzd9#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-v2"],
[class*=" icon-v2"],
.icon-v2 {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons-v2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'tui-light';
  src: url('TUITypeLt_LATN_W_Rg.eot');
  src: url('TUITypeLt_LATN_W_Rg.eot?#iefix') format('embedded-opentype'), url('TUITypeLt_LATN_W_Rg.woff') format('woff'), url('TUITypeLt_LATN_W_Rg.ttf') format('truetype');
}
@font-face {
  font-family: 'tui-bold';
  src: url('TUIType-bold.eot');
  src: url('TUIType-bold.eot?#iefix') format('embedded-opentype'), url('TUIType-bold.woff') format('woff'), url('TUIType-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'tui-light-bold';
  src: url('TUITypeLt_LATN_W_Bd.eot');
  src: url('TUITypeLt_LATN_W_Bd.eot?#iefix') format('embedded-opentype'), url('TUITypeLt_LATN_W_Bd.woff') format('woff'), url('TUITypeLt_LATN_W_Bd.ttf') format('truetype');
}
@font-face {
  font-family: 'tui-type-light';
  src: url('TUITypeLt_LATN_W_Rg.eot');
  src: url('TUITypeLt_LATN_W_Rg.eot?#iefix') format('embedded-opentype'), url('TUITypeLt_LATN_W_Rg.woff') format('woff'), url('TUITypeLt_LATN_W_Rg.ttf') format('truetype');
}
@font-face {
  font-family: 'tui-type-bold';
  src: url('TUITypeLt_LATN_W_Bd.eot');
  src: url('TUITypeLt_LATN_W_Bd.eot?#iefix') format('embedded-opentype'), url('TUITypeLt_LATN_W_Bd.woff') format('woff'), url('TUITypeLt_LATN_W_Bd.ttf') format('truetype');
}
@font-face {
  font-family: 'proxima-light-bold';
  src: url('proxima-light-bold.eot');
  src: url('proxima-light-bold.eot?#iefix') format('embedded-opentype'), url('proxima-light-bold.woff') format('woff'), url('proxima-light-bold.svg#webfont') format('svg');
  font-weight: 400;
}
@font-face {
  font-family: 'droid_sansregular';
  src: url('DroidSans-webfont.eot');
  src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'), url('DroidSans-webfont.woff') format('woff'), url('DroidSans-webfont.svg#droid_sansregular') format('svg'), url('DroidSans-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'code';
  src: url('code.eot');
  src: url('code.eot?#iefix') format('embedded-opentype'), url('code.woff') format('woff'), url('code.ttf') format('truetype'), url('code.svg#webfont') format('svg');
}
